import * as S from './{{pascalCase componentName}}.styles'

export const {{pascalCase componentName}}: React.FC = () => {
  return (
    <S.Wrapper>
      <span>Hello {{pascalCase componentName}}</span>
    </S.Wrapper>
  )
}
